.button-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: auto;
  height: 42px;
  padding: 1rem 1.3rem;
  border-radius: 24px;
  transition:
    background-color 0.2s,
    opacity 0.2s;
}

.button-primary-enabled {
  background-color: #171e25;
  color: white;
}

.button-primary-enabled:hover {
  background-color: #1985e8;
}

.button-primary-enabled:active {
  background-color: #1985e8;
  opacity: 0.7;
}

.button-primary-disabled {
  background-color: #b9b9b9;
  opacity: 0.5;
  color: #9b9b9b;
  cursor: not-allowed;
}

.button-primary-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: white;
}

.button-primary-label {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0em;
}
